.login {
  padding: 15px;
  width: 50%;
  position: relative;
  top: 12rem;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 480px) {
  .login {
    width: 95%;
    padding-left: 2rem;
  }
}

.showHint {
  border: none;
  margin-top: 0.5rem;
  background-color: transparent;
}

.container{
  min-height: 80vh;
}